.form1 {
    width: 90%;
    max-width: 400px;
    margin: 5px;
    
    
    padding-top: 10px;
    padding-bottom: 0px;
  }
  
  .form-personalinfo {
    background: rgb(158, 179, 226);
    padding: 30px 20px; 
    width: 400px;
    height: 250px;
  }
  
  .personalinfo-fields {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
   
  }
  
  .personalinfo-fields input {
    flex: 1; 
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
  }