.form3 {
    width: 90%;
    max-width: 400px;
    margin: 5px;
    height: 80vh;
    /* background: #fce3fe; */
    padding-top: 10px;
    padding-bottom: 0px;

}

.form-medicalhistory{
    background: rgb(158, 179, 226);
    padding: 30px 20px; 
    width: 400px;
    height: 300px;
    margin-top: -163px;

}