.searchbar {
    display: flex;
}

.name-search,
.mrn-search {
  position: relative;
  display: flex;
  align-items: center;
}

.name-search div,
.mrn-search div {
  margin-right: 20px;
}

.name-search input,
.mrn-search input {
  padding: 10px;
  border: 1px solid rgb(85, 120, 185);
  border-radius: 20px;
  border-color: black;
  width: 100px;
  outline: none;
  padding-left: 35px;
}

.name-search .search-icon,
.mrn-search .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(85, 120, 185);
  border-color: black;
}
