.form2 {
  width: 90%;
  max-width: 400px;
  margin: 5px;
  height: 80vh;
  /* background: #fce3fe; */
  padding-top: 10px;
  padding-bottom: 0px;
}

.form-preferences {
  background: rgb(158, 179, 226);
  padding: 30px 20px;
  width: 400px;
  height: 300px;
}

.preferences-fields1 {
  display: flex;
  flex-direction: row;
  gap: 46px;
  padding: 10px;
  padding-left: 5px;
}
.preferences-fields2 {
  display: flex;
  flex-direction: row;
  gap: 44px;

  padding: 10px;
  padding-left: 5px;
}
.preferences-fields3 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  padding: 10px;
  padding-left: 5px;
}
.preferences-fields4 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 10px;
  padding-left: 5px;
}
.dropdown {
  display: flex;
}

label {
  margin-bottom: 8px;
  padding-left: 8px;
  gap: 10px;
}

select {
  width: 38%;
  padding: 0px;
  padding-left: 8px;
  margin-top: 0px;
}
